body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #868f99;
    color: #fff;
    padding: 30px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
  }
  .chat-window {
    width: 500px;
    background-color: #b33636;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .chat-area {
    height: 450px;
    overflow-y: scroll;
    padding: 30px;
  }
  
  .chat-messages {
    display: flex;
    flex-direction: column;
  }
  .message {
    margin-bottom: 5px;
    background-color: #cf5555;
    padding: 10px;
  }
  
  .user-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #926262;
  }
  
  #message-input {
    flex-grow: 1;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }